/* Text */
h1, h2, h3 , h4, h5, h6 {
    font-family: 'Anton', sans-serif;
  }
  p {
    font-family: 'Jura', sans-serif;
  }
  
  :root {
    --prim-colour: black;
    --second-colour: white;
    --tert-colour: #3F704D;
  }

  body {
    
  }

  Section >H2 {
    padding: 31px;
    background-color: var(--tert-colour);
    margin: 20px 0 20px 0;
}

h3 {
  font-size: 1rem;
  margin: 10px;
  font: var(--second-colour);
}

h5 {
  font-size: 1.3rem;
  margin: 15px 0 15px 0;
}

  /* Navigation bar */
.navbar-brand {
    font-size: 1.5rem;
    align-items: center;
}

nav {
  font: white;
}

.navbar-brand img {
margin-right: 20px;
background-position: center;
}

.collapse {
    justify-content: right;
    font-size: 1.5rem;
    margin-right: 20px;
}
 /* Hero Section */
.Hero-banner{
    height: calc(100vh - 25px);
    background-image: url(../images/giphy.gif);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Hero {
    width: 70%;
    min-width: 500px;
    max-width: 700px;
    color: white;
    text-align: center;
  }

/* About Me Section */
#About {
  justify-content: center;
}

btn {
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

.container-fluid{
  justify-content: center;
}

/* Work Section */
.card-img-top {
  width: 100%;
  height: 15vw;
  object-fit: cover;
}

.card-body {
  text-align: center;
}

.box-shadow:hover{
	-webkit-box-shadow: 0 20px 40px rgba(72,78,85,.6);
	box-shadow: 0 20px 40px rgba(72,78,85,.6);
	-webkit-transform: translateY(-15px);
	-moz-transform: translateY(-15px);
	-ms-transform: translateY(-15px);
	-o-transform: translateY(-15px);
	transform: translateY(-15px);
}

/* Work Section */


address a {
  padding: 30px;
}

.contact address a:hover {
  color: var(--prim-colour);
}


.fa {
  padding: 10px;
  font-size: 80px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}
